.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/build/
